.box {
    background: #f1faee;
    width: 35%;
    height: 350px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    margin-top: 150px;
}

.forms{
    margin-top: 15px;
    float: initial;
    padding: 5px;
}

.UserNameInput{
    width: 90%;
    margin-top: 1px;
    height: 50px;
    border: 0px;
    border-bottom: 1px solid #2b2d42;
    font-size: 16px;
    font-family: OpenSans-Light;
    background: transparent;
}

.PasswordInput{
    width: 90%;
    margin-top: 1px;
    height: 50px;
    border: 0px;
    border-bottom: 1px solid #2b2d42;
    font-size: 16px;
    font-family: OpenSans-Light;
    background: transparent;
}

.LoginBtn{
    margin-top: 40px;
    width: 45%;
    height: 40px;
    background: #2b2d42;
    border: none;
    color: white;
    font-family: product sans;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

h1{
    text-align: center;
    padding: 5px;
    color: #2b2d42;
    font-family: Product Sans;
}